.links_list {
  position: fixed;
  top: 60px;
  left: 380px;

  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  padding-top: 10px;

  font-size: 0.8rem;
}

.link {
  display: inline-block;

  padding: 5px;

  border: 1px solid;
}

.link.active {
  color: #008300;

  border-color: #008300;
}

.headerLogo {
  width: 209px;
  height: 48px;

  background: url("../../assets/logo/header_logo.svg") center center/cover no-repeat;
}

