.paginationBarContainer{
    position: fixed;
    bottom: 0;
    left: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 8px;

    background-color: white;

    translate: -50% 0;
}