.selectContainer {
  position: relative;

  overflow: hidden;
  display: inline-flex;

  width: 225px;
  min-height: 40px;

  font-size: 1.1em;
  color: white;
  /*background-color: #0f71c2;*/
  background-color: var(--secondary-bg-color);
  border-radius: 5px;
  box-shadow: 0 1px 1px 1px #6e6e6e;

  transition: all 0.15s ease-in;
}

[data-theme^='dark'] .selectContainer {
  box-shadow: none;
}

.selectContainer select {
  width: 100%;
  padding: 10px 40px 10px 10px;

  font-size: 1em;
  color: inherit;

  background-color: inherit;
  border: none;
  outline: none;

  appearance: none;
}

.selectContainer:hover {
  /*background-color: #2e83c8;*/
  background-color: var(--secondary-hover-bg-color);
}

.selectContainer select:hover {
  cursor: pointer;
}

.selectContainer:focus-within,
.selectContainer:focus-visible {
  outline: none;
  box-shadow: 0 1px 3px 3px #757474;
}

[data-theme^='dark'] .selectContainer:focus-within,
[data-theme^='dark'] .selectContainer:focus-visible {
  box-shadow: none;
}

.arrow {
  pointer-events: none;

  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 100%;

  background-color: rgba(131, 180, 216, 0.5);
}

.arrow::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 30px;
  height: 30px;

  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.arrow::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);

  border: 7px solid transparent;
  border-top-color: rgba(255, 255, 255, 0.8);
}
