.links_list {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
}

.link {
  padding: 5px;

  border: 1px solid;
}

.link.active {
  color: #008300;

  border-color: #008300;
}
